p {
    color: #FFF4E0;
    font-family: 'Playfair Display', serif;
}

h1 {
    color: #392726;
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 84pt;
    margin: 0;
}

h2 {
    color: #BF8E8E;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
    margin: 0;
}

h3 {
    color: #392726;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

body {
  background-color: #D8CCAE;
}

.navcontainer {
    max-width: 95%;
    margin: 0 auto;
}

.menu-trigger{
  text-decoration: none;
  color: #FFF4E0;
  font-size: 25px;
}

#nav {
    display: none;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

#nav li {
    margin: 0;
    list-style-type: none;
    padding: 10px;
}

#nav a:link, #nav a:visited {
	  display: block;
    color: #FFF4E0;
    background-color: #BF8E8E;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Playfair Display', serif;
}

#nav a:hover, #nav a:active {
    background-color: #D9B97E;
}

.caption {
    color: black;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#sociallinks {
      padding: 0;
  	  list-style-type: none;
  }

#sociallinks li {
      margin: 0;
      padding: 0;
  }

#sociallinks a:link, #sociallinks a:visited {
  	  display: block;
      color: #FFF4E0;
      background-color: #BF8E8E;
      text-align: center;
      text-decoration: none;
      padding: 4px;
      font-family: 'Playfair Display', serif;
}

#sociallinks a:hover, #sociallinks a:active {
    background-color: #D9B97E;
}

#footer {
    color: #392726;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    border-top: 1px solid #392726;
    padding: 20px
}

img {
	border: none;
}

.quickfacts {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    /* gap: 20px; */
    /*grid-column-gap: 10px;
    grid-row-gap: 25px; */
    grid-template-areas:
    "b b"
    "c c"
    "a a"
    "d d";
    justify-items: stretch;
  }

.quickfacts li {
    background-color: #BF8E8E;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.card1{
  grid-area:a;
}

.card2{
  grid-area:b;
}

.card3{
  grid-area:c;
}

.card4{
  grid-area:d;
}

@media screen and (min-width:500px) {

  body {
    padding: 0;
    margin: 0;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #BF8E8E;
  }

  #nav li {
    padding: 5px;
  }

  .navcontainer {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .quickfacts {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "b b a"
      "c c a"
      "d d d";
      justify-items: center;
    }
    .homeheader {
      max-width: 80%;
      margin: 0 auto;
    }

    .menu-trigger{
      display: none;
    }

}

@media screen and (min-width:750px) {
  .quickfacts {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "b b a a"
      "c c d d";
      justify-items: stretch;
    }

    .homeheader {
      max-width: 90%;
      margin: 0 auto;
    }

    .menu-trigger{
      display: none;
    }
}
