p {
    color: #FFF4E0;
    font-family: 'Playfair Display', serif;
}

h1 {
    color: #4477B3;
    font-family: 'Cookie', cursive;
}

h2 {
    color: #FFF4E0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h3 {
    color: #B38432;
    font-family: 'Playfair Display', serif;
    font-style:400;
}

body {
  background-color: #94C6FF
}

.container {
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border: 1px solid #B38432;
}

#nav a:link, #nav a:visited {
	  display: block;
    color: #FFF4E0;
    background-color: #4477B3;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Playfair Display', serif;
}

#nav a:hover, #nav a:active {
    background-color: #94C6FF;
}

.caption {
    color: black;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}
#jokes li {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

#sociallinks {
      padding: 0;
  	  list-style-type: none;
  }

#sociallinks li {
      margin: 0;
      padding: 0;
      border: 1px solid #B38432;
  }

#sociallinks a:link, #sociallinks a:visited {
  	  display: block;
      color: #FFF4E0;
      background-color: #4477B3;
      text-align: center;
      text-decoration: none;
      padding: 4px;
      font-family: 'Playfair Display', serif;
}

#sociallinks a:hover, #sociallinks a:active {
    background-color: #ffffff;
}

#footer {
    color: #4477B3;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    border-top: 1px solid #4477B3;
    padding-top: 10px
}

img {
	border: none;
}

/* @media screen and (min-width: 599px) {

} */
