p {
    color: #392726;
    font-family: 'Playfair Display', serif;
}

h1 {
    color: #392726;
    font-family: 'Cookie', cursive;
    font-size: 40pt;
    margin: 0;
}

h2 {
    color: #BF8E8E;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin: 0;
}

h3 {
    color: #392726;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

body {
  background-color: #FFF4E0;
}

.navcontainer {
    max-width: 95%;
    margin: 0 auto;
}

.menu-trigger{
  text-decoration: none;
  color: #392726;
  font-size: 25px;
}

#nav {
    display: none;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

#nav li {
    margin: 0;
    list-style-type: none;
    padding: 0px;
}

#nav a:link, #nav a:visited {
	  display: block;
    color: #FFF4E0;
    background-color: #BF8E8E;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Playfair Display', serif;
}

#nav a:hover, #nav a:active {
    background-color: #D9B97E;
}

.caption {
    color: black;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

.homeheader {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr
  grid-gap: 5px;
  grid-template-areas:
  "c a a"
  "c b b";
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.home1 {
  grid-area: a;
  place-self: center;
  text-align: center;
  font-size: 30pt;
}

.home2 {
  grid-area: b;
  place-self: start center;
  text-align: center;
  font-size: 12pt;
}

.home3 {
  grid-area: c;
  padding-bottom: 10px;
}

.home3 img {
  width: 100px;
}

.selfbackground {
  text-align: center;
  padding: 10px;
  background-color: #D9B97E;
  text-align: left;
  padding: 35px;
  margin-top: 10px;
}

.selfbackground h2 {
  color: #FFF4E0;
  font-size: 16pt;
  text-align: center;
}

.selfbackground h3 {
  font-size: 12pt;
}

img {
	border: none;
}

.quickfacts {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    /* gap: 20px; */
    /*grid-column-gap: 10px;
    grid-row-gap: 25px; */
    grid-template-areas:
    "b b"
    "c c"
    "a a"
    "d d";
    justify-items: stretch;
  }

.quickfacts li {
    background-color: #BF8E8E;
    border: 5px solid #D9B97E;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.card1{
  grid-area:a;
}

.card2{
  grid-area:b;
}

.card3{
  grid-area:c;
}

.card4{
  grid-area:d;
}

.footer {
  color: #392726;
  font-family: 'Playfair Display', serif;
  padding: 0px;
}

.youtube {
  text-align: center;
}

.youtube h1 {
  font-size: 40pt;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blogpost {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
}

.blogpost a:link, .blogpost a:visited {
    color: #BF8E8E;
    text-decoration: none;
}

.blogpost a:hover, .blogpost a:active {
    color: #D9B97E;
}

.webstory {
  margin-left: 10px;
  margin-right: 10px;
}

.webstory h1 {
  text-align: center;
  font-size:40pt;
}

.webstory h3 {
  text-align: center;
  font-size: 12pt;
}

.resume {
  text-align: center;
}

.resume h1 {
  font-size: 40pt;
  text-align: center;
  padding-bottom: 10px;
}

.aboutme {
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; */
  display: relative;
}

.writeup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.writeup h2 {
  text-align: center;
  padding-top: 15px;
}

.headshot {
  text-align: center;
}

.footer h3 {
  text-align: center;
  font-size: 16pt;
  padding: 10px;
  margin: 0;
}

#lindseysocials {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#lindseysocials li {
  margin: 0;
  padding: 0;
}

#lindseysocials img {
  width: 100%;

}

#sociallinks a:link, #sociallinks a:visited {
  	  display: block;
      color: #FFF4E0;
      background-color: #BF8E8E;
      text-align: center;
      text-decoration: none;
      padding: 4px;
      font-family: 'Playfair Display', serif;
}

#sociallinks a:hover, #sociallinks a:active {
    background-color: #D9B97E;
}

#websiteinfo {
    color: #392726;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width:600px) {
  body {
    padding: 0;
    margin: 0;
  }

  #nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #BF8E8E;
  }

  #nav li {
    padding: 5px;
  }

  .homeheader {
    grid-template-areas:
    "c a a"
    "c b b";
  }

  .home3 img {
    width: 200px;
  }

  .home1 {
    font-size: 50pt;
  }

  .navcontainer {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .quickfacts {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      "b b a"
      "c c a"
      "d d d";
      justify-items: center;
    }
    .homeheader {
      max-width: 80%;
      margin: 0 auto;
    }

    .menu-trigger{
      display: none;
    }

.aboutme{

}


}

@media screen and (min-width:750px) {
.home3 img {
  width: 400px;
}

.home1 {
  font-size: 84pt;
}

.home2 {
  font-size: 28pt;
}

.selfbackground h2 {
  font-size: 26pt;
}

.selfbackground h3 {
  font-size: 16pt;
}

.quickfacts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "b b a a"
    "c c d d";
    justify-items: stretch;
  }

.menu-trigger{
    display: none;
  }

.blogpost {
  margin-left: 80px;
  margin-right: 80px;
}

.aboutme {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.writeup {
  width: 50vw;
}

.writeup h2 {
  text-align: left;
}

.headshot {
  margin-right: 70px;
  margin-top: 100px;
}

}
